<div *ngFor="let _lista of lista">
    <div class="row">
        <div class="col-md-12">
            <div class="card xuxa">
                <div class="card-body">
                    <h3><u>ID :{{_lista.id}}</u></h3>
                    <p><strong>nome </strong>:     {{_lista.name}}</p>
                    <p><strong>User name </strong>:{{_lista.username}}</p>
                    <p><strong>Email </strong>:    {{_lista.email}}</p>
                    <p><strong>Rua </strong>:      {{_lista.address.street}}</p>
                    <p><strong>Complemento</strong>:{{_lista.address.suite}}</p>
                    <p><strong>Cidade </strong>:   {{_lista.address.city}}</p>
                    <p><strong>Cep </strong>:      {{_lista.address.zipcode}}</p>
                    <p><strong>Latitude </strong>: {{_lista.address.geo.lat}}</p>
                    <p><strong>Longetude </strong>:{{_lista.address.geo.lng}}</p>
                    <p><strong>Telefone </strong>: {{_lista.phone}}</p>
                    <p><strong>WebSite  </strong>: {{_lista.website}}</p>
                    <p><strong>Empresa </strong>:  {{_lista.company.name}}</p>
                    <p><strong>Logo </strong>:     {{_lista.company.catchPhrase}}</p>
                    <p><strong>BS </strong>:       {{_lista.company.bs}}</p>
                </div>
            </div>
        </div>
    </div>
</div>