<div *ngFor="let _lista of lista">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h3>id : {{_lista.id}}</h3>
                    <p>nome :{{_lista.name}}</p>
                    <p>User name :{{_lista.username}}</p>
                    <p>Email :{{_lista.email}}</p>
                    <p>Rua :{{_lista.address.street}}</p>
                    <p>Complemento :{{_lista.address.suite}}</p>
                    <p>Cidade :{{_lista.address.city}}</p>
                    <p>Cep :{{_lista.address.zipcode}}</p>
                    <p>Latitude :{{_lista.address.geo.lat}}</p>
                    <p>Longetude :{{_lista.address.geo.lng}}</p>
                    <p>Telefone :{{_lista.phone}}</p>
                    <p>Empresa :{{_lista.company.name}}</p>
                    <p>nome:{{_lista.company.catchPhrase}}</p>
                    <p>nome:{{_lista.company.bs}}</p>
                </div>
            </div>
        </div>
    </div>
</div>